{
    "presets": [
        [
            "@babel/preset-env",
            {}
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        // Allow parsing of import.meta
        "@babel/plugin-syntax-import-meta",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": 2,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ],
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": true // `style: css` 会加载 css 文件
            }
        ],
        [
            // https://www.jjinux.com/2018/04/javascript-porting-from-react-css.html
            "react-css-modules",
            {
                "generateScopedName": "[local]-[hash:base64:5]", // 与css-loader 中 localIdentName 保持一致
                "exclude": "/(node_modules|src\/assets)/",
                "filetypes": {
                    ".less": {
                        "syntax": "postcss-less"
                    }
                },
            }
        ]
    ]
}