@import "../../../assets/mixins";

.app {
  text-align: center;
  margin-top: 50px;
  .clearfix();

  .img {
    margin: 0 auto;
    border: 1px red solid;
    width: 250px;
    height: 250px;
    background: url("images/hehe.png") no-repeat;
    background-size: 100%;
    border-radius: 10px;
    display: flex;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {
    border: 1px solid #dddddd;
  }
}
